[Unit]
Description= DTU LoRaWAN Gateway

[Service]
WorkingDirectory=/opt/DTU-fotonik-gateway/bin/
ExecStart=/opt/DTU-fotonik-gateway/bin/start.sh
SyslogIdentifier=DTU-fotonik-gateway
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
