[Unit]
Description= DTU LoRaWAN Gateway

[Service]
WorkingDirectory=/opt/DTU-fotonik_gateway.service/bin/
ExecStart=/opt/DTU-fotonik_gateway.service/bin/start.sh
SyslogIdentifier=DTU-fotonik_gateway.service
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
